/* src/Styles/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 100;
    width : 100%;
    left: 0;
    right : 0;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 70px; /* Adjust based on navbar height */
}
.navbar-logo h1 {
    margin: 0;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

    .navbar-links li a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        transition: color 0.2s;
    }

        .navbar-links li a.active {
            color: #007bff;
        }
